[class*="align__"] {
	position: fixed;
	display: flex;
	margin: -0.25rem;

	& > * {
		margin: 0.25rem;
	}

	&[class*="left"] {
		left: 2rem;
	}

	&[class*="right"] {
		right: 2rem;
	}

	&[class*="top"] {
		top: 2rem;
	}

	&[class*="bottom"] {
		bottom: 2rem;
	}

	&[class*="middle"] {
		top: 50%;
		transform: translateY(-50%);
	}

	&[class*="center"] {
		left: 50%;
		transform: translateX(-50%);
	}
}

main.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	opacity: 1;

	transition: opacity .2s ease;

	&[disabled] {
		pointer-events: none;
		opacity: 0;
	}
}

canvas {
	background-color: var(--color-secondary);
}