@charset "utf-8";

// Variables

@import "_variables";

// Base

// @import "base/_reset";
// @import "base/_normalize";
// @import "base/_typography";
// @import "base/_animations";
// @import "base/_images";
// @import "base/_lists";
// @import "base/_layout";

// Components

// @import "components/_button";
// @import "components/_image";
// @import "components/_navigation";
// @import "components/_header";
// @import "components/_main";
// @import "components/_section";
// @import "components/_footer";
// @import "components/_inventory";

// @import "controls/_joystick";

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: var(--color-secondary);
	width: 100%;
	height: 100vh;
    overflow: hidden;
    margin: 0;
}

[disabled] {
    pointer-events:none;
    opacity: 0.5;
}

[disabled="hidden"] {
    opacity: 0;
}

.canvas-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	// background: linear-gradient(#e4e0ba, #f7d9aa);
	// background: #cdf9ff;
	background: #222;
}